body main {
    background-color: #1D252C;
}

body main .row .col .vsckb-card {
    border: none !important;
    background: none !important;
}

body main .row .col .vsckb-card > * {
    border: none !important;
    background: none !important;
    color: #B7C5D3 !important;
    padding: 8px !important;
}

body main .row .col .vsckb-card .card-body {
    border: none !important;
    background: none !important;
    border-top: 2px #28313A solid !important;
}

.vsckb-kanban-card {
    background-color: #28313A !important;
}

.vsckb-kanban-card .vsckb-kanban-card-type {
    background-color: #B7C5D3 !important;
}

.vsckb-kanban-card .vsckb-kanban-card-info .vsckb-kanban-card-title {
    background-color: #28313A !important;
    color: #B7C5D3 !important;
}

.vsckb-kanban-card .vsckb-kanban-card-info .vsckb-kanban-card-category {
    background-color: #586C7F !important;
}

.vsckb-kanban-card .vsckb-kanban-card-info {
    background-color: #41505E !important;
}

.vsckb-kanban-card .vsckb-kanban-card-footer {
    color: #B7C5D3 !important;
}
