body {
    background-color: red !important;
}

main {
    background-color: yellow !important;
}

.row {
    background-color: green !important;
}

.col {
    background-color: lime !important;
}

.vsckb {
    background-color: purple !important;
}

.vsckb-card {
    background-color: orange !important;
}
